.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  cursor: pointer;
}

.img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

.i0 {
  grid-column: span 2;
  grid-row: span 2;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
}
